[Desktop Entry]
Name=BookOS
Comment=Tema de inicio de sesión de BookOS
Type=X-SDDM-Theme
X-SDDM-Theme-Api=2.0
X-SDDM-Theme-QtVersion=6

[SddmGreeterEnvironment]
QML_XHR_ALLOW_FILE_READ=1
